
body {
    background-image: url(/MusicJunkies/HomeScreen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    font-family: cursive;
    font-size: 100px;
    font-weight: 1000;
    color: rgb(200, 230, 30);
    transform: scale(1.5);
    background:none;
    padding: 0px;
    margin-left: 0px;
    margin-right: -25px;
    text-align: center;
}


.date_container {
    margin-top: 25px;
}

footer {
    display: flex;
    flex: 1 0 auto;
    min-height: 100vh;
}

.card-tit1e {
    color: black;
}

.card-image{
    width: 55px;
    height: 55px;
}

.card-content {
    font-size: 35px;
    color: rgb(49, 2, 49);
}