* {
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    width: 100%;
    justify-content: center;
    font-family: 'Abel', sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: rgb(39, 37, 37);
    text-align: center;
   
  }

  body {
    font-family: 'Abel', sans-serif;
    background-image: url(../assets/images/beach.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 10px;
  }
  
  h1{
    font-size: 4.2rem;
    line-height: 110%;
    margin: none;
  } 

  h2 {
    text-align: center;
  }

  h3 {
    margin-top: 0.1rem;
  }
  
  p {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    
  }

  
  footer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 40px;
    text-align: center;
    font-family: "Abel", sans-serif;
    font-size: 30px;
    position: inherit;
    align-content: end;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(19, 153, 135, 0.87);
    border: 5px solid rgba(31, 92, 84, 0.979);
    color: white;
    min-width: 100%;
    bottom: 0;
  }
  
  /* header wrapper */
  .wrapper {
    background-color: rgba(255, 202, 102, 0.596);
    border: 5px solid #e4764ad3;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
     
  }
  
  .input-field {
    font-family: 'Abel', sans-serif;
  }
  
  .card-tit1e {
    color: black;
  }
/* album image properties */
  .card-image {
    display: flex;
    flex: auto;
    width: 90px;
    height: 90px;
    justify-content: end;
    margin-left: 80%;
    margin-right: 30px;
    margin-top: -125px;
    margin-bottom: 30px;
    padding: 10px;
    overflow: hidden;
  }

  .card-content {
    position: relative;
  }
  
  .card-content p {
    font-size: 20px;
    color: rgb(49, 2, 49);
    font-family: 'Abel', sans-serif;
    align-content: left;
    justify-content: start;
    text-align: left;
    padding-right: 10px;
  }

  #card-top5 p {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    /* align-content: left; */
    justify-content: start;
    padding: 5px;
  }
  
  /* Card whole container properties */
  .row-container {
    align-items: center;
    display: flex;
    position: center;
    opacity: .78;
    position: center;
    justify-content: center;
    width: 75%;
    margin-left: 10%;
  }
  
  /* Modal properties */
  .modal-content {
    opacity: 1;
    font-family: 'Abel', sans-serif;;
    font-size: 25px 18px; 
  }

  
  .date_container {
    margin: 5px 0px 0px 5px;
    color: black;
    font-size: 25px;
    justify-content: center;
    padding: 10px;
  }

  label {
    display: inline-block;
    font-size: 25px;
    border: 2px solid #e4764ad3;
    background-color: rgba(255, 202, 102, 0.596);
    color: black;
    font-style: underline;
    padding: 5px;
    margin-top: 5px;
  }

  .search-history-btn {
    margin: 5px 5px 5px 5px;
    padding: 5px;
  }
  
  .search-history-container {
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px 0px 0px 5px;
  }
  
  #prev-search {
    padding-top: 15px;
    padding-left: 5px;
  }


  /* Webpage Image */
  #logo {
    width: 70px;
    height: 70px;
    margin-top: 35px;
    justify-content: left;
    opacity: .78;
    margin-right: 16px;
    align-self: stretch;
  }

/* hide boxes until clicked */

  #hideFool{
      display: none;
  }
  

  #billBox{
      display: none;
  }


  button {
    opacity: .85;
    font-family: 'Abel', sans-serif;
  }



 /* MEDIA QUERY for responsive design */
@media only screen and (max-width: 600px) {
  .input-field .prefix ~ input {
    width: 80%;
    width: calc(100% - 3rem);
  }
}

@media only screen and (max-width: 600px) {
  .input-field .prefix ~ input {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .row-container .card {
    width: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .row-container .card {
    width: 400px;
  }
}