* {
    box-sizing: border-box;
}
body {
    background-image: url(/MusicJunkies/HomeScreen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 10px;
}

header {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    font-family: cursive;
    font-size: 100px;
    font-weight: 1000;
    color: rgb(200, 230, 30);
    transform: scale(1.5);
    background:none;
    padding: 0px;
    margin-left: 0px;
    margin-right: -25px;
    text-align: center;
}


.date_container {
    margin-top: 25px;
    color: white;
    font-size: 25px;
}


footer {
    display: flex;
    flex: 1 0 auto;
    padding: 20px;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    position: bottom;
    align-content: end;
    min-width: 100vh;
    margin-top: 100px;
    background: black;
    color: rgb(177, 37, 177);
}


.card-tit1e {
    color: black;
}

.card-image{
    width: 55px;
    height: 55px;
}

.card-content {
    font-size: 40px;
    color: rgb(49, 2, 49);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.modal-content {
    opacity: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: 25px 18px; 
  
}