
header {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 60px;
    color: rgb(177, 37, 177);
    background: black;
    padding: 0px;
    margin-left: -8px;
    margin-right: 0px;
    text-align: center;
    border: 8px solid rgb(177, 37, 177);
}

.date_container {
    margin-top: 25px;
}

